@tailwind base;
@tailwind components;
@tailwind utilities;

.first-color { 
	background: #03263B; 
}
	
.second-color { 
	background: #537589; 
}

.third-color { 
	background: #f95959; 
}

.fourth-color { 
	background: #e3e3e3; 
}